:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%); 
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--cream);
}

main {
    background-color: var(--white);
    margin: 20px;
    border-radius: 13px;
    overflow: hidden;
}

.img-desktop {
    display: none;
}

.description-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.subtitle {
    letter-spacing: 0.3em;
    font-size: 0.9rem;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grayish-blue);
}

h1 {
    font-family: 'Fraunces', serif;
    margin: 0;
    color: var(--very-dark-blue);
}

p {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grayish-blue);
    font-size: 0.9rem;
}

.price-container {
    display: flex;
    align-items: center;
}

.price-container b {
    font-size: 2rem;
    font-family: 'Fraunces', serif;
    color: var(--dark-cyan);
}

.price-container strike {
    font-size: 0.9rem;
    margin-left: 1.3rem;
    color: var(--dark-grayish-blue);
}

.button {
    background-color: var(--dark-cyan);
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.8rem;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    transition: background 0.2s;
}

.button:hover {
    cursor: pointer;
    background-color: hsl(159, 35%, 19%);
}

@media screen and (min-width: 500px) {
    .img-mobile {
        display: none;
    }
    .img-desktop {
        display: block;
        height: 100%;
    }
    main {
        display: grid;
        grid-template-columns: 230px 230px;
    }
}